@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$bkgnd: #000000;
$grey_bkgnd: #C4C4C4;

* {
  font-family: 'Bebas Neue', cursive;
}

body {
  font-style: normal;
  font-weight: normal;
  background-color: $bkgnd;
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;


}


/* Переключатель языка */
.lang-toggle-container{
  min-height: 83px;
  position: relative;

}


/* Заголовок сайта */

.first-page-header {
  position: relative;

}

.header-text-block{
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 120px;
  line-height: 120px;

}

.header-paragraph {
  font-size: 50px;
  line-height: 60px;
  color: #C4C4C4;

}



/* Основная часть с секциями */
main{
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}

section{
  background-color: $grey_bkgnd;
  width: 420px;
  height: 536px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 50px;
  position: relative;
}

.about-us-section-image{
  margin-top: 16px;
}

.grow {
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

.grow:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

 .grow-default{
   -webkit-transform: scale(1.08);
   -moz-transform: scale(1.08);
   -o-transform: scale(1.08);
 }

 .map-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }

 .donate-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }
 .about-us-image-section-container{
   min-height: 171.4px;
   display: flex;
   justify-content: center;
 }

 h2{
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 0px;
  color: #000000;
 }

.section-text-block{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #202020;

}
/* Ссылки на другие страницы сайта */

 .rectangle {
    display: block;
    width: 254px;
    height: 56px;
    border-radius: 50px;
    background: #FF651F;
    position: absolute;
    left: 83px;
    top: 450px;


}

.rectangle:hover{

  background: #FF651F;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
}

.rectangle:active{
  background: #FF651F;
  box-shadow: inset 20px 20px 4px rgba(0, 0, 0, 0.25);
}



.section-button-arrow-short{
margin-top: 14px;
margin-left: 97px;
margin-right: 103px;
margin-bottom: 18px;

}
